 
img{
  height:90vh;

  }
 

@media (max-width : 750px) {
  img{
    height: 70vh;
  }
  
}
#worksImages{
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
#worksImages:hover{
  background-color: aliceblue;
}