@media (min-width : 1020px) {
    .background {
        background-image: url('../../public/images/Register/build.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 120vh;
        width: 100%;
    }
    .background2{
      background-image: url('../../public/images/Register/loginXl.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
    }
     
    #register {
       width: 40%;
       position: absolute;
       left: 30%;
       right: auto;
       top: 10%;
    }
  }

@media (max-width:1024px ) and (min-width : 720px) {
    .background {
        background-image: url('../../public/images/Register/build.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 140vh;
        width: 100%;
    }
    .background2{
      background-image: url('../../public/images/Register/painter.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
    }
     
    #register {
       width: 50%;
        position: absolute;
       left: 25%;
       right: auto;
       top: 10%;
    
    }
  }
@media (max-width : 720px) {
    .background {
        background-image: url('../../public/images/Register/build2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 140vh;
        width: 100%;
    }
    .background2 {
      background-image: url('../../public/images/Register/painter2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
  }
     
    #register {
      width: 100%;
      position: absolute;
      top: 20%;
     }
  }

/* this part for worker Info */
#imgUploded{
   background-size: cover;
  background-repeat: no-repeat;
  border:2px white solid ;
  border-radius:125px ;
  width: 125px;
  height: 125px;
}