@media (min-width : 1024px){
    #Comments {
        border: #80808069 1px solid;
 
        contain: inline-size;


    }
}

@media (max-width : 1024px){
    #Comments {
        border: #80808069 1px solid;
 
        contain: inline-size;

    }
}
